:root{

    /* --bubbles-main: #4fc3dc;
    --bubbles-secundary: #ff2d75; */
    --bubbles-main: #8b33ad;
    --bubbles-secundary: #ffffff;
    
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background: #393939;
    background: #111;
    color: #fff;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;


    place-items: center;
  
    
}

.container__bubbles{

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;





}

.bubbles{

    position: relative;
    display: flex;

    
}

.bubbles span{

    position: relative;
    width: 30px;
    height: 30px;
    background: var(--bubbles-main);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #5b3b5e44,
    0 0 50px var(--bubbles-main),
    0 0 100px var(--bubbles-main);


    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));

}

.bubbles span:nth-child(even){

    background: var(--bubbles-secundary);
    box-shadow: 0 0 0 10px #b9b9b944,
    0 0 50px var(--bubbles-secundary),
    0 0 100px var(--bubbles-secundary);


}

@keyframes animate{

    0%{

        transform: translateY(100vh) scale(0);

    }
    100%{

        transform: translateY(-10vh) scale(1);

    }


}

.header{

    position: relative;
    
    z-index: 2;
    display: flex;
    margin: 2em 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;



}

.main{

   
    /*position: relative;
    z-index: 2;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    margin: auto;
    padding: 2em;
    gap: 20px;*/


}

.main{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    width: 100%;
    

}

.hexagon-gallery{

   
    position: relative;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    height: 454px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: auto;
    


}

.hexagon-gallery .hexagon{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;



}


.hexagon-gallery .hexagon .hex{


    background: rgb(163, 92, 190);
    width: 144px;
    height: 159px;
    display: flex;
    margin: 10px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50%
    100%, 0% 75%, 0% 25%);

    transition: all .3s ease-in-out;
    cursor: pointer;
   

}

.hexagon-gallery  .hexagon:nth-child(1){

    top: 0;
   
  

}
.hexagon-gallery  .hexagon:nth-child(3){
    bottom: 0;

}

.hexagon-gallery  .hexagon .hex img{

    filter: brightness(.5);
    width: 100%;
    object-fit: cover;

    transition: all .3s ease-in-out;

}




.hexagon-gallery  .hexagon .hex img:hover{

    filter: brightness(1);
    width: 100%;
    object-fit: cover;

}
.hexagon-gallery  .hexagon .hex:hover{


    transform: scale(1.1);


}

.modal{

    position: fixed;
    background: rgba(48, 48, 48, .50);
    width: 100%;
    z-index: 4;
    top: 0;
    bottom: 0;
    

}

.modal__img {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    transform: translateY(50%);
    transition: all 3s ease-in-out;
}

.modal__img.active{


   transform: translateY(0%);
   transition: all 3s ease-in-out;


}

.modal__img .img__boxImg {

    width: 35%;
    object-fit: contain;


}


.img__boxImg.img__scale {

  

    transform: scale(1);
    

}



@media screen and (max-width: 1000px) {
    
    .bubbles span{

        position: relative;
        width: 10px;
        height: 10px;
        background: var(--bubbles-main);
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #5b3b5e44,
        0 0 50px var(--bubbles-main),
        0 0 100px var(--bubbles-main);

    
    }

    .modal__img .img__boxImg {

        width: 60%;
        object-fit: contain;
        
    
    }




}

@media screen and (max-width: 768px) {
    
    .bubbles span{

        position: relative;
        width: 5px;
        height: 5px;
        background: var(--bubbles-main);
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #5b3b5e44,
        0 0 50px var(--bubbles-main),
        0 0 100px var(--bubbles-main);

    
    }


    .main{

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 1420px;
        
    
    }

    .hexagon-gallery  .hexagon:nth-child(4){
        bottom: 0;
    
    }
                
    .hexagon-gallery{

    
        position: relative;
        z-index: 2;
        max-width: 1200px;
        width: 100%;
        height: 1345px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;



    }

    .hexagon-gallery .hexagon{

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }


    .hexagon-gallery .hexagon .hex{


        background: rgb(163, 92, 190);
        width: 133px;
        height: 149px;
        display: flex;
        margin: 10px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50%
        100%, 0% 75%, 0% 25%);

        transition: all .3s ease-in-out;
        cursor: pointer;
    

    }


    .modal__img .img__boxImg {

        width: 90%;
        object-fit: contain;
    
    
    }

   





 

    







}




